<div class="portfolio-wrapper__container">
  <overlay-container [contentContainer]="contentContainer"></overlay-container>
  <div #contentContainer>
    <div class="nav-links">
      <a target="_blank" class="fa-brands fa-github" href="https://github.com/Hobart2967"></a>
      <a target="_blank" class="fa-brands fa-dev" href="https://dev.to/Hobart2967"></a>
      <a target="_blank" class="fa-brands fa-linkedin" href="https://www.linkedin.com/in/klein-marco/"></a>
      <a target="_blank" class="fa-brands fa-xing" href="https://www.xing.com/profile/Marco_Klein51/cv"></a>
    </div>
    <nav></nav>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>