portfolio-wrapper {
  display: flex;
  min-height: 100vh;
  .portfolio-wrapper__container {
    width: 100%;

    .overlay-container__wrapper--overlay-active main {
      pointer-events: none;
    }

    main {
      flex: 1 1;
      margin-left: 128px;

      @media (max-width: 768px) {
        margin-left: 0;
      }
    }

    footer {
      background: rgba(128, 128, 128, 0.1);
      display: flex;
      margin: 0 auto;
      padding: 60px;
      align-items: center;
      justify-content: center;
    }
  }
}