portfolio-wrapper {
  display: flex;
  min-height: 100vh;
  .portfolio-wrapper__container {
    width: 100%;

    .overlay-container__wrapper--overlay-active main {
      pointer-events: none;
    }

    .nav-links {
      position: fixed;
      right: 0;
      bottom: 15%;
      transform: translateY(15%);
      display: flex;
      flex-flow: column;
      font-size: 32px;
      z-index: 10000;
      background: #3a3a3a;
      border: 1px #505050 solid;
      box-shadow: 0px 0px 3px #505050;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;

      > a {
        padding: 8px;
        transition: color .3s ease-in-out;
        text-align: center;

        &:not(:hover) {
          color: var(--color-website-foreground);
        }
        &:hover {
          text-decoration: none;
        }

      }
    }

    main {
      flex: 1 1;
      margin-left: 128px;

      @media (max-width: 768px) {
        margin-left: 0;
      }
    }

    footer {
      background: rgba(128, 128, 128, 0.1);
      display: flex;
      margin: 0 auto;
      padding: 60px;
      align-items: center;
      justify-content: center;
    }
  }
}