$componentName: 'career-path-station';

#{$componentName} {
  .career__path__info__station {
    position: absolute;
    display: inline-block;
    margin-left: -7px;
    margin-top: -7px;

    &--left {
      .career__path__info__station__details {
        transform: translateX(calc(-100% - 30px));
        margin: 0;
      }
    }

    &--force-visibility {
      &.career__path__info__station {
        .career__path__info__station__details {
          animation: none;
          opacity: 1;
        }

        .bullet {
          &, &--visible {
            animation: none;
            opacity: 1;
          }
        }
      }

    }

    .station__job {
      &__shadow {
        position: relative;

        top: 0;
        bottom: 10px;
        right: 0;
        left: 0;
        cursor: pointer;
        display: flex;
        margin: 0 30px;
        opacity: 0;
        z-index: 20001;
        box-shadow: 0px 1px 6px rgb(177 234 177 / 0%);
        transition: opacity 0.3s ease-in-out;
        display: flex;
        flex-flow: column;

        &--visible {
          animation-name: #{$componentName}__jump-in;
          animation-timing-function: ease-in-out;
          animation-duration: 0.4s;
          animation-fill-mode: forwards;
          animation-iteration-count: 1;
        }

        @media (max-width: 768px) {
          margin-left: -10%;
        }


        .station__job__details {
          margin: 0px;
          padding: 8px;
          background: #333333;
          border: 2px solid rgba(16, 84, 16, 0.8);
          text-align: left;

          @media (max-width: 768px) {
            margin-left: -10%;

            .station__job {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }

        .station__job__meta {
          margin: 0;
          overflow: hidden;
          position: relative;
          padding: 0 8px 8px 8px;
          background: #333333;
          border: 2px solid rgba(16, 84, 16, 0.8);
          text-align: left;
          border-top: 0;
          transition: opacity .3s ease-in-out;
          z-index: 2000;
          pointer-events: none;
          margin-top: -10px;
          @media (max-width: 768px) {
            margin-left: -10%;
          }
        }


        @keyframes #{$componentName}__jump-in-mobile{
          0%{
            transform: scale(0);
            opacity: 0.3;
          }
          50%{
            transform: scale(1.5);
            opacity: 0.7;
          }
          100%{
            transform: scale(1);
            opacity: 0.7;
          }
        }
        @keyframes #{$componentName}__jump-in{
          0%{
            transform: scale(0);
            opacity: 0.3;
          }
          50%{
            transform: scale(1.5);
            opacity: 1;
          }
          100%{
            transform: scale(1);
            opacity: 1;
          }
        }
      }
    }



    .bullet {
      display: block;
      cursor: pointer;
      content: " ";
      position: relative;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background: rgba(29, 148, 29, 1);
      z-index: 103;
      border: 2px solid rgb(216, 216, 216);

      transform: translateX(-50%)
                translateY(-50%);
      opacity: 0;

      &--visible {
        animation: #{$componentName}__jump-in ease-in-out 0.4s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
      }

      &::before {
        content: ' ';
        display: block;
        border-radius: 50%;
        border: 2px solid transparent;
        height: 8px;
        width: 8px;
      }

      &:hover {.station__job__meta {
        opacity: 1;
      }
        ~ .station__job__shadow {
          box-shadow: 0px 1px 6px rgb(177 234 177 / 80%);
        }
      }
    }

    &:after {
      content: ' ';
      display: block;
      position: relative;
      height: 1px;
      border: 2px dashed rgb(16 84 16 / 80%);
      width: 100%;
      overflow: hidden;
      clip: rect(3px, 100vw, 1vw, 0px);
      display: none;
    }
  }
}