button, .button {
  border-radius: 3px;

  border-radius: 3px;
  background: #1a801a;
  font-size: 16px;
  border: 2px solid #1d941d;
  padding: 8px 24px;
  color: var(--color-button-foreground);

  &:hover {
    cursor: pointer;
    background-color: var(--color-button-border);
    color: var(--color-button-hover-foreground);
  }
}