data-privacy {
  display: block;
  margin: 0 auto;
  max-width: 75%;
  padding: 100px 0;


  .d-flex {
    @media (max-width: 768px) {
      flex-flow: column;
    }

    > div {
      margin: 20px;
    }
  }

  .wrapper {
    line-height: 1.5;

    h1, h2 { margin: 30px 0 0 0 ; }
  }
}