$componentName: 'about-me';
#{$componentName} {
  display: block;

  .column {
    flex: 1 1 auto;
    padding: 16px;
    .row {
      padding: 0 16px;
    }
  }

  .column:nth-child(1) {
    max-width: 60%;
  }

  .column:nth-child(2) {
    padding: 16px 0;
  }



  .career {
    position: relative;


    &__path {
      text-align: right;
      padding-left: 16px;

      &__info, &__blur {
        position: absolute;
        height: 100%;
        width: 100%;
      }

      &__info {
        z-index: 101;
      }

      &__blur {
        box-shadow: inset 1px 1px 20px 40px var(--color-website-background);
        z-index: 100;
      }

      > div{
        position: relative;
        display: inline-block;

        > svg {
          height: 830px;

          > path {
            $careerPathLength: 3543.529052734375;
            stroke-dasharray: $careerPathLength;
            stroke-dashoffset: $careerPathLength;
            animation: #{$componentName}__drawcareerPath 20s linear forwards;
            animation-iteration-count: 1;

            @keyframes #{$componentName}__drawcareerPath {
              to { stroke-dashoffset: 0; }
            }
          }
        }
      }
    }
  }

  p {
    font-size: 18px;
  }
}