<div class="row">
  <h1>Me, myself and I</h1>
  <p>I am a full-stack software engineer located in Cologne. Whilst living a great passion for frontend development, I really love to implement backends filling their counterpart with data and business processes.</p>
  <p>Also, my ability to develop databases and the surrounding infrastructure will make me feel like I have developed something complete when finishing a product.</p>
</div>
<div class="row">
  <h1>Professional Stations</h1>
  <p>Currently, I am working for <a href="https://www.trustedshops.com">Trusted Shops</a>, europes leading trust brand - A company creating review systems for all kinds of markets, including its origin market, e-commerce.</p>
  <p>Feel free to check out projects I have been working on there and all the other stations I have been developing my career along in my <a routerLink="/portfolio">Portfolio</a>!</p>
</div>