about-me {
  display: block;

  .column {
    flex: 1 1 auto;

    .row {
      padding: 0 16px;
    }
  }

  .column:nth-child(1) {
    max-width: 60%;
    padding: 16px;
  }



  .career {
    position: relative;


    &__path {
      text-align: right;
      padding-left: 16px;

      &__info, &__blur {
        position: absolute;
        height: 100%;
        width: 100%;
      }

      &__info {
        z-index: 101;

        &__station {
          position: absolute;
          display: inline-block;

          &--left {
            .career__path__info__station__details {
              transform: translateX(calc(-100% - 30px));
              margin: 0;
            }
          }
          //opacity: 0;

          &__details {
            margin: 0px 30px;
            padding: 8px;
            background: #333333;
            border: 1px solid rgba(16, 84, 16, 0.8);
            opacity: 0.6;
            transform: translateY(calc(-50% - 16px));

            &:hover {
              animation: station-fade-in ease-in-out 1s;
              animation-fill-mode: forwards;
              animation-iteration-count: 1;
            }
          }

          @keyframes station-fade-in{
            0%{
              opacity: 0.3;
            }
            20% {
              opacity: 0.7;
            }
            50%{
              opacity: 1;
            }
            100%{
              opacity: 1;
            }
          }

          &:before {
            display: block;
            content: " ";
            position: relative;
            height: 12px;
            width: 12px;
            border-radius: 50%;
            background: rgba(29, 148, 29, 1);
            z-index: 103;
            border: 2px solid rgb(216, 216, 216);

            transform: translateX(-50%)
                       translateY(-50%);
          }

          &:after {
            content: ' ';
            display: block;
            position: relative;
            height: 1px;
            border: 2px dashed rgb(16 84 16 / 80%);
            width: 100%;
            overflow: hidden;
            clip: rect(3px, 100vw, 1vw, 0px);
            display: none;
          }
        }
      }

      &__blur {
        box-shadow: inset 1px 1px 20px 40px var(--color-website-background);
        z-index: 100;
      }

      > div{
        position: relative;
        display: inline-block;

        > svg {
          height: 830px;

          > path {
            $careerPathLength: 3805.643310546875;
            stroke-dasharray: $careerPathLength;
            stroke-dashoffset: $careerPathLength;
            animation: drawcareerPath 40s linear forwards;
            animation-iteration-count: 1;

            @keyframes drawcareerPath {
              to { stroke-dashoffset: 0; }
            }
          }
        }
      }
    }
  }

  p {
    font-size: 18px;
  }
}