@import "styles/includes";

$componentName: 'about-me';

.keep-animation-frame {
  .column .row {
    animation: none;
    opacity: 1
  }

  .career__path > div > svg > path {
    animation: none;
    stroke-dashoffset: 0;
  }
}

.go {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10000
}


#{$componentName} {
  display: block;
  h1 { margin-top: 60px; }
  @media (max-width: 768px) {
    .texts {
      flex-flow: column;

      .column:not(.last-child) {
        order: 1;
      }
      .column:last-child {
        order: 0;
        h1 {
          position: relative;
          z-index: 199;
        }
      }
    }
  }

  .column {
    flex: 1 1 auto;
    padding: 16px;

    h1 {
      padding: 0 16px;
      z-index: 1999;
      position: relative;

    }
    .row {
      position: relative;
      z-index: 10;
      padding: 0 16px;
      animation: #{$componentName}__fade-in 0.5s ease-in-out;
      animation-fill-mode: forwards;

      animation-iteration-count: 1;
      opacity: 0;
      @for $i from 1 to 4 {
        &:nth-child(#{$i*2}) {
          // pow(0.40, $i)
          animation-delay: #{0.1s * $i + ($i - 1) * 0.65};
        }
      }

      @keyframes #{$componentName}__fade-in {
        0% {
          opacity: 0;
          transform: translateX(-10%);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }

  @media (min-width: 769px) {
    .column:nth-child(1) {
      max-width: 60%;
    }
  }

  .column:nth-child(2) {
    padding: 16px 0;
  }

  .career {
    position: relative;
    margin-top: -100px;
    overflow: hidden;
    &__path {
      text-align: right;
      padding-left: 16px;

      &__info, &__blur {
        position: absolute;
        height: 100%;
        width: 100%;
      }

      &__info {
        z-index: 101;
      }

      &__blur {
        box-shadow: inset 1px 1px 200px 100px var(--color-website-background);
        z-index: 100;
      }

      > div{
        position: relative;
        display: inline-block;

        > svg {
          height: 830px;

          > path {
            $careerPathLength: 3543.529052734375;
            stroke-dasharray: $careerPathLength;
            stroke-dashoffset: $careerPathLength;
            animation: #{$componentName}__drawcareerPath 2.2s linear forwards;
            animation-iteration-count: 1;

            @keyframes #{$componentName}__drawcareerPath {
              to { stroke-dashoffset: 0; }
            }
          }
        }
      }
    }
  }

  p {
    font-size: 18px;
  }
}