<h1>My Portfolio</h1>
<div class="row">
  <div class="project">
    <div class="project__title">avsn.de</div>
    <div class="project__thumbnail">
      <div class="project__thumbnail__shadow"></div>
      <img src="/assets/images/portfolio/avsn.de/avsn.de.png" />
    </div>
    <div class="project__description">
      <p>avsn.de (short for: adventurespiele.net) is a german news magazine about video games. Specifically spoken, it's about adventure video games. It offers > 1000 walkthroughs through games, rates > 300 games in form of reviews and provides almost every kind of material to players: Trailers, Screenshots, Patches, Savegames and many more.</p>

      <p>It also offers a video game database which causes the whole website database to be > 150 MB. This part of the website contains data about any video game of the genre, including release dates, publisher and developer information, runtime requirements, system requirements and so on.</p>

      <p>I am the system administrator of this project and actively develop this platform since 2006.</p>
    </div>
  </div>
</div>