<h1>My Portfolio</h1>
<div class="row">
  <div class="project">

    <div class="project__title">Your project</div>
    <div class="project__thumbnail">
      <div class="project__thumbnail__shadow"></div>
      <div class="spider-web">
        <svg viewBox='0 0 400 150' preserveAspectRatio='none'>
          <line x1='1' y1='1' x2='600' y2='1' id='top' />
          <line x1='1' y1='1' x2='1' y2='250' />
          <line x1='1' y1='1' x2='450' y2='250' />
          <line x1='1' y1='1' x2='175' y2='250' />
          <path d='M 1,80 a 12,15 45 1,1 37,-26 a 10,12 0 1,1 14,-24 a 25,20 -45 1,1 40,-30' />
          <path d='M 1,160 a 17,20 45 1,1 75,-52 a 17,20 0 1,1 30,-48 a 30,25 -45 1,1 60,-70' />
          <path d='M 1,240 a 22,25 45 1,1 113,-78 a 23,26 0 1,1 46,-72 a 35,30 -45 1,1 90,-110' />
        </svg>
      </div>
    </div>
    <div class="project__description">
      <p>
        Here's room for your project to appear.<br>
        You plan to implement a software project? You are interested in having it done by me? Contact me!
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="project">
    <div class="project__title">avsn.de</div>
    <div class="project__thumbnail">
      <div class="project__thumbnail__shadow"></div>
      <img src="/assets/images/portfolio/avsn.de/avsn.de.png" />
    </div>
    <div class="project__description">
      <p>avsn.de (short for: adventurespiele.net) is a german news magazine about video games. Specifically spoken, it's about adventure video games. It offers > 1000 walkthroughs through games, rates > 300 games in form of reviews and provides almost every kind of material to players: Trailers, Screenshots, Patches, Savegames and many more.</p>

      <p>It also offers a video game database which causes the whole website database to be > 150 MB. This part of the website contains data about any video game of the genre, including release dates, publisher and developer information, runtime requirements, system requirements and so on.</p>

      <p>I am the system administrator of this project and actively develop this platform since 2006.</p>
      <div><a class="button" href="https://www.adventurespiele.net/" target="_blank">Learn more!</a></div>
    </div>
  </div>
  <div class="project">
    <div class="project__title">strawberry-py</div>
    <div class="project__thumbnail">
      <div class="project__thumbnail__shadow"></div>
      <img src="/assets/images/portfolio/strawberry-py/strawberry-py.png" />
    </div>
    <div class="project__description">
      <p>strawberry-py is a rest api framework written by me. It enables developers to easily write APIs in a form known from ASP.NET for C# or SpringBoot for Java. It uses decorators to declare controllers, endpoints and parameters.</p>
      <p>The best fact about it is that it is webserver agnostic. It can be used within usual web server SDKs, AWS lambdas or even Google Cloud Functions. It already brings a wrapper for AWS lambda requests.</p>
    </div>
    <div><a class="button" href="https://www.github.com/Hobart2967/strawberry-py" target="_blank">Learn more!</a></div>
  </div>
  <div class="project">
    <div class="project__title">aws-sso-console</div>
    <div class="project__thumbnail">
      <div class="project__thumbnail__shadow"></div>
      <img src="/assets/images/portfolio/aws-sso-console/aws-sso-console.png" />
    </div>
    <div class="project__description">
      <p>The AWS SSO console is a tool for working on multiple AWS accounts at the same time, while not having to re-login to another account using the SSO login feature.</p>
      <p>The issue with the usual web console is that you can only use one account at one time. Switching accounts - even in a different browser tab - causes the old session to invalidate, not being usable anymore.</p>
      <p>This tool actually creates individual browser session using electron browser windows, resulting in having different session instances with a unique cookie set. The login and session cookies are being shared automatically though, so you do not have to login every time you need a new session.</p>

      <p>This tool was written by me and is available as an electron app for Windows (Installer), Linux (Snap) and Mac (pkg). For Mac Users, it also supports native window tabs, so there's no need to manage multiple windows. They are all grouped into one using tabs. This way, you would have the same experience as if you are working in a browser.</p>
    </div>
    <div><a class="button" href="https://www.github.com/Hobart2967/aws-sso-console" target="_blank">Learn more!</a></div>
  </div>
  <div class="project">
    <div class="project__title">skwid</div>
    <div class="project__thumbnail">
      <div class="project__thumbnail__shadow"></div>
      <img src="/assets/images/portfolio/skwid/skwid.png" />
    </div>
    <div class="project__description">
      <p>Skwid aims to be a Makefile replacement and a multi-technology project manager at the same time.</p>
      <div>
        <ul>
          <li>A modular project configuration, including tasks, variables and more.</li>
          <li>A single definition language, independent from the technology used.</li>
          <li>Declarative and documentable definition language.</li>
          <li>Logical Flow Control of your project processes</li>
          <li>Pluggable job system - Missing something? Add it! \o/</li>
        </ul>
      </div>
      <p>This tool was written by me and for now, it is available as an app for Mac OS and Linux based Systems only. In the future, I plan to release it for Windows, too. It should also be available as chocolatey, snap/apt and brew package, without the need to install Node.js</p>
      <div><a class="button" href="https://www.github.com/codewyre/skwid" target="_blank">Learn more!</a></div>
    </div>
  </div>
</div>