<div>
  <h2>
    <span>@</span>
    <span [innerText]="station.companyName"></span>
  </h2>
  <div class="station__job__meta">

    <div class="title"><b>Timespan:</b></div>
    <div class="station__time-span">
      <span [innerText]="station.start.month.toString().padStart(2, '0')"></span>
      <span>/</span>
      <span [innerText]="station.start.year"></span>
      <span> - </span>
      <span [innerText]="station.end.month.toString().padStart(2, '0')"></span>
      <span>/</span>
      <span [innerText]="station.end.year"></span>
    </div>
    <div class="title"><b>My Age:</b></div>
    <div><span>~</span><span [innerText]="station.start.year - 1992"></span></div>
    <div class="title"><b>Description</b></div>
    <div [innerText]="station.description"></div>
  </div>
</div>