.overlay-container__content {
  transition: filter 0.3s;

  &--overlay-active {
    filter: blur(3px);
    height: 100vh;
    pointer-events: none;
  }
}

overlay-container {

  .overlay-container__wrapper {
    position: fixed;
    pointer-events: all;
    height: 100vh;
    width: 100vw;
    z-index: 9000;
    pointer-events: none;

    &--overlay-active {
      pointer-events: all;
    }
  }
}